.place__article {
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1054px) {
  .place__article {
    max-width: 456px;
  }
}
@media all and (max-width: 620px) {
  .place__article {
    max-width: 288px;
    padding: 0 16px 0 16px;
  }
}
