.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 92px;
  padding-bottom: 24px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media all and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media all and (max-width: 670px) {
  .footer {
    max-width: 288px;
    min-width: auto;
    padding-top: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}
