.intro__title {
  max-width: 690px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  text-align: left;
  margin: 0 0 40px 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}
@media all and (max-width: 320px) {
  .intro__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.09;
  }
}
